

.Carousel {
    width: 100vw;
    transition: 50ease;
    height: 120vh;
    text-align: center;
    background-color: #232a34;
}

.Carousel h3{
    background-color: #970C10;
}

.Carousel p{
    background-color: #FFA303;
    color: white;
}


.Carousel h5{
    background-color: #970C10;
}

.Container{
    background-color: #232a34;
    width: 100%;
    color: white;
}

.Container h3{
    background-color: #970C10;
    text-align: center;
}

